/*******************************************CSS DEL CONTENIDO CENTRAL
 * ********************************************************************* */
.layout__main{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 11rem;
    margin-bottom: 5rem;
}
.main__principal{
    width: 120rem;
}
.principal__titulo{
    margin-top: 5rem;
    margin-bottom: 5rem;
    font-size: 3rem;
    font-weight: bold;
}
.principal__imagenes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}
.imagenes__box{
    width: 38rem;
    height: 38rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;



}
.imagenes__enlace{
    display: flex;
    width: 100%;


}
.imagenes__imagen{
    width: 30rem;
    height: 30rem;
    border: 1px solid rgba(79, 107, 215, 0.3);
    box-shadow: rgba( 79, 107, 215,0.2) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin: auto;


}
.imagenes__boxTexto{
    width: 80%;
    height: 100%;
    margin: auto;
    margin-top: 2rem;
    overflow: hidden;


    
}
.imagenes__texto{

    font-size: 1.5rem;
    color: var(--colorTexto);
    font-weight: bold;
    text-wrap: wrap;
}



/*
RESPONSIVE
*****************************************************************************/

@media(max-width: 1300px)
{
    .layout__main{
        margin-top: 10rem;
    }    
    .main__principal{
        width: 110rem;
    }
    .imagenes__box{
        width: 34rem;
        height: 34rem;        
    }
    .imagenes__imagen{
        width: 25rem;
        height: 25rem;
    }
}

@media(max-width: 1150px){
    .main__principal{
        width: 85rem;
    }
    .imagenes__box{
        width: 24rem;
        height: 25rem;
        
    }
    .imagenes__imagen{
        width: 20rem;
        height: 20rem;
    }
    .imagenes__texto{
        font-size: 1.3rem;
    }
}

@media(max-width: 900px){
    .main__principal{
        width: 75rem;
    }
    .imagenes__box{
        width: 34rem;
        height: 28rem;
        
    }
    .imagenes__imagen{
        width: 25rem;
        height: 25rem;
    }

    .imagenes__boxTexto{
        width: 70%;
    }
    
}

@media(max-width: 800px){
    .main__principal{
        width: 60rem;

    }
    .imagenes__box{
        width: 60rem;
        height: 40rem;

        
    }
    .imagenes__imagen{
        width: 35rem;
        height: 30rem;
    }
    .imagenes__boxTexto{
        width: 25rem;
    }
}
@media(max-width: 600px){
    .main__principal{
        width: 55rem;
    }
    .imagenes__box{
        width: 100%;
        height: 40rem;
        margin: auto;        
    }
    .imagenes__imagen{
        width: 35rem;
        height: 35rem;
    }

}
@media(max-width: 550px){
    .main__principal{
        width: 100%;
    }

}
